.header {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
}
.header .logo {
  width: 35%;
}
.header .logo img {
  width: 100%;
}
.header .button {
  display: none;
}
.header .menu {
  background-color: navy;
  position: absolute;
  top: 0;
  width: 100%;
  left: -100vw;
  opacity: 0;
  transition: 0.4s ease;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 998;
}
.header .menu .menu-item {
  padding: 15px 20px;
  list-style: none;
}
.header .menu .menu-item a {
  color: white;
  font-family: "semi-bold";
}
.header .menu .menu-item .bold {
  font-family: "bold";
  font-weight: 800;
}
.header .hamburger {
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .hamburger .bar {
  height: 5px;
  width: 100%;
  background-color: navy;
  border-radius: 5px;
  z-index: 999;
}
.header .hamburger #top {
  transform: translateY(-4px);
  transition: all 0.6s ease;
}
.header .hamburger #middle {
  transition: all 0.6s ease;
}
.header .hamburger #bottom {
  transform: translateY(4px);
  transition: all 0.6s ease;
}
.header .open {
  opacity: 1;
  left: 0;
}
.header .open #top {
  transform: translateY(5px) rotate(135deg);
  background-color: white;
}
.header .open #middle {
  opacity: 0;
  transform: rotate(360deg);
}
.header .open #bottom {
  transform: translateY(-5px) rotate(-135deg);
  background-color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
  .header .menu {
    top: 0;
  }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .header .logo {
    width: 20%;
  }
  .header .logo img {
    width: 100%;
  }
  .header .menu {
    top: 0;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    padding: 30px 50px;
    align-items: center;
    margin-top: 0;
  }
  .header .logo {
    width: 10%;
    z-index: 999;
    margin-top: -10px;
  }
  .header .logo img {
    width: 100%;
  }
  .header .button {
    width: 20%;
    display: block;
    position: relative;
    right: -20px;
  }
  .header .button a {
    background-color: rgba(0, 0, 128, 0.853);
    color: white;
    font-size: 20px;
    font-family: "semi-bold";
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 128, 0.853);
    border-radius: 5px;
  }
  .header .menu {
    position: relative;
    top: 0;
    width: 100%;
    left: -30px;
    opacity: 1;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    background-color: white;
    align-items: center;
    flex-direction: row;
  }
  .header .menu .menu-item {
    padding: 27px 10px;
  }
  .header .menu .menu-item a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  .header .menu .menu-item .bold {
    font-size: 33px;
  }
  .header .hamburger {
    display: none;
  }
}/*# sourceMappingURL=navigation.css.map */