/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  background-image: url(img/banner.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .overlay {
  background-color: rgba(0, 0, 0, 0.414);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 30px;
}
.banner .overlay h1 {
  font-family: "bold";
  font-size: 40px;
  line-height: 1.2;
}
.banner .overlay p {
  font-family: "regular";
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
}
.banner .overlay a {
  font-family: "regular";
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
  display: block;
  background-color: navy;
  color: white;
  width: 40%;
  padding: 15px;
  text-decoration: none;
  border: 1px solid navy;
  border-radius: 5px;
}

.about {
  margin-top: 50px;
}
.about .about-img {
  background-image: url(img/banner.jpeg);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .about-img .experience {
  width: 220px;
  height: 220px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .about-img .experience img {
  width: 40px;
  margin-bottom: 20px;
}
.about .about-img .experience h3 {
  font-family: "bold";
  font-size: 30px;
}
.about .about-img .experience p {
  font-family: "regular";
  font-size: 20px;
  line-height: 1.2;
  margin-top: 20px;
}
.about .about-text {
  margin-top: 30px;
}
.about .about-text h3 {
  font-family: "bold";
  font-size: 25px;
  margin-bottom: 20px;
}
.about .about-text h2 {
  font-family: "bold";
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
}
.about .about-text p {
  font-family: "regular";
  font-size: 20px;
  line-height: 1.2;
}
.about .about-text .atributes {
  margin-top: 25px;
}
.about .about-text .atributes .lists {
  display: flex;
  align-items: center;
  align-items: center;
  margin-top: 10px;
}
.about .about-text .atributes .lists img {
  width: 30px;
  margin-right: 20px;
}

.services {
  margin-top: 70px;
  text-align: center;
  padding: 50px 20px;
  background-color: whitesmoke;
}
.services .work {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services a {
  font-family: "regular";
  font-size: 20px;
  line-height: 1.2;
  width: 40%;
  margin-top: 30px;
  display: block;
  background-color: navy;
  color: white;
  padding: 15px;
  text-decoration: none;
  border: 1px solid navy;
  border-radius: 5px;
  text-align: center;
}
.services h3 {
  font-family: "bold";
  font-size: 25px;
  margin-bottom: 20px;
}
.services h2 {
  font-family: "bold";
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
}
.services p {
  font-family: "regular";
  font-size: 20px;
  line-height: 1.2;
}
.services .inner-services {
  background-color: white;
  box-shadow: 1 1 -1 -1 rgba(0, 0, 0, 0.606);
  padding: 30px 10px;
  margin-bottom: 20px;
}
.services .pic img {
  width: 100px;
  margin-bottom: 20px;
}

.dedicate {
  margin-top: 40px;
  text-align: center;
}
.dedicate p {
  font-size: 20px;
  font-family: "regular";
  line-height: 1.3;
}
.dedicate .img .main {
  width: 100%;
  height: 300px;
}
.dedicate .img .txt {
  background-color: white;
}
.dedicate .img .txt p {
  margin: 15px 0;
}
.dedicate .img .txt .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 128, 0.853);
  padding: 15px 0px;
}
.dedicate .img .txt .icon img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.dedicate .img .txt .icon h4 {
  font-family: "bold";
  font-size: 25px;
  margin-left: 20px;
}
.dedicate .work {
  padding-top: 20px;
}
.dedicate .work h3 {
  font-family: "bold";
  font-size: 25px;
  margin-bottom: 20px;
}
.dedicate .work h2 {
  font-family: "bold";
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
}
.dedicate .work .button {
  display: flex;
  justify-content: center;
}
.dedicate .work .button a {
  font-family: "regular";
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
  display: block;
  background-color: navy;
  color: white;
  width: 70%;
  padding: 15px;
  text-decoration: none;
  border: 1px solid navy;
  border-radius: 5px;
  text-align: center;
}
.dedicate .work .wrk {
  margin-top: 20px;
}
.dedicate .work .wrk h3 {
  font-family: "bold";
  font-size: 25px;
  margin-top: 20px;
}
.dedicate .work .wrk img {
  margin-top: 20px;
}

.gallery {
  margin-top: 100px;
  text-align: center;
}
.gallery h2 {
  font-family: "bold";
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
}
.gallery h3 {
  font-family: "bold";
  font-size: 25px;
  margin-bottom: 20px;
}
.gallery img {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.know {
  text-align: center;
  margin: 50px 0;
}
.know .info .pic {
  background-color: rgba(0, 0, 128, 0.853);
  padding: 40px 10px;
}
.know .info .pic img {
  width: 30%;
}
.know .info .text {
  background-color: whitesmoke;
  padding: 40px 10px;
}
.know .info .text h2 {
  font-family: "bold";
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
}
.know .info .text p {
  font-family: "regular";
  font-size: 20px;
  line-height: 1.2;
}

footer {
  padding: 30px 10px;
  background-color: black;
  color: white;
  text-align: center;
}
footer .log {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .log img {
  width: 60%;
}
footer h3 {
  font-family: "bold";
  font-size: 30px;
  margin-bottom: 20px;
}
footer a, footer p {
  text-decoration: none;
  color: white;
  font-family: "regular";
  font-size: 20px;
}
footer a:hover {
  text-decoration: none;
  color: white;
}
footer .lists {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .lists p {
  margin-left: 15px;
  line-height: 1.3;
}
footer .contact, footer .quick, footer .service {
  margin-bottom: 50px;
}
footer .quick p, footer .service p {
  margin-bottom: 15px;
}
footer .copy i {
  margin-left: 10px;
  font-size: 18px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .banner {
    height: 60vh;
  }
  .banner .overlay {
    align-items: flex-start;
    text-align: left;
    padding: 0px;
    padding-left: 50px;
  }
  .banner .overlay h1 {
    font-size: 50px;
    line-height: 1.2;
    width: 50%;
  }
  .banner .overlay p {
    font-size: 20px;
    line-height: 1.3;
    margin-top: 30px;
    width: 70%;
  }
  .banner .overlay a {
    font-size: 20px;
    margin-top: 30px;
    width: 20%;
    text-align: center;
  }
  .about .about-img {
    height: 100%;
  }
  .about .about-text {
    margin-top: 0;
    padding: 20px 0;
  }
  .gallery {
    margin-top: 80px;
    text-align: center;
  }
  .gallery h2 {
    font-family: "bold";
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .gallery h3 {
    font-family: "bold";
    font-size: 25px;
    margin-bottom: 20px;
    color: rgba(0, 0, 128, 0.853);
  }
  .gallery img {
    width: 100%;
    height: 220px;
    margin-bottom: 22px;
  }
  .dedicate {
    margin-top: 80px;
    text-align: center;
  }
  .dedicate p {
    font-size: 20px;
    font-family: "regular";
    line-height: 1.3;
  }
  .dedicate .img .main {
    width: 100%;
    height: auto;
  }
  .dedicate .img .txt {
    background-color: white;
  }
  .dedicate .img .txt p {
    margin: 15px 0;
  }
  .dedicate .img .txt .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 128, 0.853);
    padding: 15px 0px;
  }
  .dedicate .img .txt .icon img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
  .dedicate .img .txt .icon h4 {
    font-family: "bold";
    font-size: 25px;
    margin-left: 20px;
  }
  .dedicate .work {
    padding-top: 20px;
  }
  .dedicate .work h3 {
    font-family: "bold";
    font-size: 25px;
    margin-bottom: 20px;
  }
  .dedicate .work h2 {
    font-family: "bold";
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .dedicate .work .button {
    display: flex;
    justify-content: center;
  }
  .dedicate .work .button a {
    font-family: "regular";
    font-size: 20px;
    line-height: 1.2;
    margin-top: 30px;
    display: block;
    background-color: navy;
    color: white;
    width: 70%;
    padding: 15px;
    text-decoration: none;
    border: 1px solid navy;
    border-radius: 5px;
    text-align: center;
  }
  .dedicate .work .wrk {
    margin-top: 20px;
    display: flex;
  }
  .dedicate .work .wrk h3 {
    font-family: "bold";
    font-size: 25px;
    margin-top: 20px;
  }
  .dedicate .work .wrk img {
    margin-top: 20px;
  }
  .know {
    text-align: left;
    margin: 50px 0;
  }
  .know .info {
    display: flex;
    flex-wrap: wrap;
  }
  .know .info .pic {
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
  .know .info .pic img {
    width: 50%;
  }
  .know .info .text {
    background-color: whitesmoke;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-left: 30px;
    padding-right: 80px;
  }
  .know .info .text h2 {
    font-family: "bold";
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .know .info .text p {
    font-family: "regular";
    font-size: 20px;
    line-height: 1.2;
  }
  footer {
    padding: 30px 10px;
    text-align: left;
  }
  footer .log {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .log img {
    width: 80%;
  }
  footer h3 {
    font-family: "bold";
    font-size: 30px;
    margin-bottom: 20px;
  }
  footer a, footer p {
    text-decoration: none;
    color: white;
    font-family: "regular";
    font-size: 20px;
  }
  footer .lists {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .lists p {
    margin-left: 15px;
    line-height: 1.3;
  }
  footer .contact, footer .quick, footer .service {
    margin-bottom: 50px;
  }
  footer .quick p, footer .service p {
    margin-bottom: 15px;
  }
  footer .items {
    display: flex;
  }
  footer .copy {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner {
    height: 100vh;
  }
  .banner .overlay {
    align-items: flex-start;
    text-align: left;
    padding: 0px;
    padding-left: 100px;
  }
  .banner .overlay h1 {
    font-size: 60px;
    line-height: 1.1;
    width: 40%;
  }
  .banner .overlay p {
    font-size: 20px;
    line-height: 1.3;
    margin-top: 30px;
    width: 55%;
  }
  .banner .overlay a {
    font-size: 20px;
    margin-top: 30px;
    width: 10%;
    text-align: center;
    padding: 12px;
  }
  .banner .overlay a:hover {
    background-color: rgba(0, 0, 128, 0.853);
    border: 1px solid rgba(0, 0, 128, 0.853);
  }
  .about {
    margin-top: 100px;
  }
  .about .about-img {
    height: 100%;
  }
  .about .about-img .experience img {
    width: 50px;
    margin-bottom: 20px;
  }
  .about .about-img .experience h3 {
    font-size: 30px;
  }
  .about .about-img .experience p {
    font-size: 20px;
  }
  .about .about-text {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
  .about .about-text h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgba(0, 0, 128, 0.853);
  }
  .about .about-text h2 {
    font-family: "bold";
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
    width: 85%;
  }
  .about .about-text p {
    font-family: "regular";
    font-size: 20px;
    line-height: 1.3;
    width: 95%;
  }
  .about .about-text .atributes {
    margin-top: 25px;
  }
  .about .about-text .atributes .lists {
    display: flex;
    align-items: center;
    align-items: center;
    margin-top: 20px;
  }
  .about .about-text .atributes .lists img {
    width: 20px;
    margin-right: 20px;
  }
  .dedicate {
    margin-top: 80px;
    text-align: left;
  }
  .dedicate .best {
    display: flex;
  }
  .dedicate p {
    font-size: 18px;
    font-family: "regular";
    line-height: 1.3;
  }
  .dedicate .img {
    position: relative;
    width: 48%;
  }
  .dedicate .img .main {
    width: 100%;
    height: 100%;
  }
  .dedicate .img .txt {
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 60%;
    padding: 20px 30px;
  }
  .dedicate .img .txt p {
    margin: 15px 0;
  }
  .dedicate .img .txt .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 128, 0.853);
    padding: 15px 0px;
  }
  .dedicate .img .txt .icon img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
  .dedicate .img .txt .icon h4 {
    font-family: "bold";
    font-size: 25px;
    margin-left: 20px;
  }
  .dedicate .work {
    padding-top: 30px;
    background-color: black;
    color: white;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    width: 52%;
  }
  .dedicate .work h3 {
    font-family: "bold";
    font-size: 25px;
    margin-bottom: 20px;
  }
  .dedicate .work h2 {
    font-family: "bold";
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .dedicate .work .button {
    display: flex;
    justify-content: flex-start;
  }
  .dedicate .work .button a {
    font-family: "regular";
    font-size: 18px;
    line-height: 1.2;
    margin-top: 30px;
    display: block;
    background-color: navy;
    color: white;
    width: 30%;
    padding: 12px;
    text-decoration: none;
    border: 1px solid navy;
    border-radius: 5px;
    text-align: center;
  }
  .dedicate .work .wrk {
    margin-top: 20px;
    display: flex;
  }
  .dedicate .work .wrk h3 {
    font-family: "bold";
    font-size: 25px;
    margin-top: 20px;
  }
  .dedicate .work .wrk img {
    margin-top: 20px;
    width: 60px;
    height: 60px;
  }
  .gallery {
    margin-top: 80px;
    text-align: center;
  }
  .gallery h2 {
    font-family: "bold";
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .gallery h3 {
    font-family: "bold";
    font-size: 25px;
    margin-bottom: 20px;
    color: rgba(0, 0, 128, 0.853);
  }
  .gallery img {
    width: 100%;
    height: 220px;
    margin-bottom: 22px;
  }
  .services {
    margin-top: 100px;
    text-align: left;
    padding: 50px 20px;
  }
  .services .work {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .services a {
    font-size: 20px;
    margin-top: 30px;
    width: 11%;
    text-align: center;
    padding: 12px;
  }
  .services a:hover {
    background-color: rgba(0, 0, 128, 0.853);
    border: 1px solid rgba(0, 0, 128, 0.853);
  }
  .services h3 {
    font-family: "bold";
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(0, 0, 128, 0.853);
  }
  .services h2 {
    font-family: "bold";
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: center;
  }
  .services p {
    font-family: "regular";
    font-size: 20px;
    line-height: 1.2;
  }
  .services .inner-services {
    background-color: white;
    box-shadow: 1 1 -1 -1 rgba(0, 0, 0, 0.606);
    padding: 34px 30px;
    margin-bottom: 20px;
    text-align: left;
  }
  .services .pic {
    border-bottom: 1px solid rgba(0, 0, 128, 0.298);
    margin-bottom: 20px;
  }
  .services .pic h3 {
    text-align: left;
    color: black;
  }
  .services .pic img {
    width: 70px;
    margin-bottom: 20px;
  }
  footer {
    padding: 10px 10px;
    text-align: left;
    padding-top: 50px;
    margin-top: 80px;
  }
  footer .log {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .log img {
    width: 80%;
  }
  footer h3 {
    font-family: "bold";
    font-size: 25px;
    margin-bottom: 20px;
  }
  footer a, footer p {
    text-decoration: none;
    color: white;
    font-family: "regular";
    font-size: 18px;
  }
  footer .lists {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .lists p {
    margin-left: 15px;
    line-height: 1.3;
  }
  footer .contact, footer .quick, footer .service {
    margin-bottom: 50px;
  }
  footer .quick p, footer .service p {
    margin-bottom: 15px;
  }
  footer .items {
    display: flex;
  }
  footer .copy {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */